# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Package.resolved

# macOS
.DS_Store

# Logs
*.log

# Xcode debugger & schemes
xcdebugger/
*.xcscheme
**/xcuserdata/
**/*.xcuserdatad/
**/xcdebugger/